/* DESKTOP FIRST*/
#contA{  
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: aqua;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid #310A90;
}



/*
   600px//telefono celular
*/
@media screen and (max-width:600px){
    #contA{
        display: flex;
        flex-direction: row;
        background-color: var(--mycolor);
        padding: 20px;
        text-align-last: center;
    }
}

